// Custom Bootstrap variable overrides go first
// $body-bg: #000;

// $color1: #000;
// $color2: #ffd166;
// $color3: rgba(41, 120, 160, 1);
// $color4: rgba(188, 171, 121, 1);
// $color5: #183e49;
// $color5: #183e49;
// $color6: #183e49;
// $color7: #FFF; // background color of navbar
// $color8: #FFF;
// $body-bg:  #F5F5F3;
$body-bg:  #ecebeb;
// $body-color: #000;

$theme-colors: (
  "primary":    rgb(24, 114, 59),
  "secondary":  #b4d2e7,
  // "success":    rgb(141, 177, 128),
//   "info":       $color4,
//   "warning":    $color5,
  // "danger":     rgb(182, 27, 35),
  // "light":      #d3d4d4,
  // "dark":       #252525
);


// Then include the ollowing
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';

// And define any of your custom or additional CSS/SCSS here,
// or via an @import
