<template>
    <b-container class="mt-2">
        <b-card header="Exercise">
            <b-form @submit="onSubmit">
                <b-form-input
                    v-model="form.name"
                    required
                    placeholder="Enter the name of the exercise"
                ></b-form-input>

                <b-form-group
                    id="input-group-1"
                    class="mt-1"
                    label-for="input-1"
                    description="The video file must be unique within the database"
                >
                    <b-card fluid>
                        <b-container>
                            <b-row>
                                <b-form-file
                                    multiple
                                    placeholder="Choose a file or drop it here..."
                                    drop-placeholder="Drop file here..."
                                    @input="onDropChange"
                                ></b-form-file>
                            </b-row>
                            <b-row>
                                <b-col
                                    class="mt-1"
                                    cols="4"
                                    v-for="(value, k_key, index) in files_obj"
                                    :key="index"
                                >
                                    <b-card
                                        bg-variant="light"
                                        header-bg-variant="light"
                                        class="text-center"
                                    >
                                        <b-badge class="mb-1" variant="dark">{{
                                            k_key
                                        }}</b-badge>
                                        <b-form-group
                                            description="What is the perspective from which this video was taken? Left? Right?"
                                            valid-feedback="Thank you!"
                                            :invalid-feedback="
                                                invalidFeedback(
                                                    value.perspective
                                                )
                                            "
                                            :state="state(value.perspective)"
                                        >
                                            <b-form-input
                                                placeholder="Enter the perspective description here"
                                                v-model="value.perspective"
                                            ></b-form-input
                                        ></b-form-group>
                                        <b-button
                                            v-on:click="removeFile(k_key)"
                                            variant="danger"
                                            >Remove</b-button
                                        ></b-card
                                    >
                                </b-col>
                            </b-row>
                        </b-container>
                    </b-card>
                </b-form-group>
                <b-button type="submit">Create!</b-button>
            </b-form>
        </b-card>
    </b-container>
</template>

<script>
import { HTTP } from "../http-common";
import { router } from "../routes";
import { alertDanger, alertSuccess } from "../utils";
// import FileUploadDndArea from "../components/FileUploadDndArea";

export default {
    data() {
        return {
            form: {
                name: "",
                videoFile: null,
            },
            files_obj: {},
        };
    },

    computed: {},

    methods: {
        onDropChange(argFiles) {
            argFiles.forEach((element) => {
                if (!(element.name in this.files_obj)) {
                    this.$set(this.files_obj, element.name, {
                        file: element,
                        perspective: "",
                    });
                }
            });

            return this.files_obj;
        },

        onSubmit(evt) {
            evt.preventDefault();
            console.log(this.form);

            const data = new FormData();
            data.append("name", this.form.name);
            console.log(data);
            HTTP.post("exercises/", data, {
                headers: { "Content-Type": "multipart/form-data" },
            })
                .then((response) => {
                    if (response.status == 201) {
                        var exercise_id = response.data.id;
                        const video_form_data = new FormData();
                        video_form_data.append(
                            "video_file",
                            this.form.videoFile
                        );

                        HTTP.put(
                            "exercises/" + exercise_id + "/video/",
                            video_form_data,
                            {
                                headers: {
                                    "Content-Type": "multipart/form-data",
                                },
                            }
                        ).then((response) => {
                            if (response.status == 201) {
                                console.log("SUCcESS");
                                console.log(response);
                            }
                        });

                        // ....
                        alertSuccess("Exercise created!");
                        router.push({ path: `/exercise/${response.data.id}` });
                    } else {
                        alertDanger("Could not save data to server!");
                    }
                })
                .catch((errors) => {
                    console.log(
                        "[commitCurrentExercise] put, response errors::"
                    );

                    console.log(JSON.stringify(errors.response.data));
                    alertDanger(errors.response.data);
                });
        },

        removeFile(key) {
            // console.log("Remove: " + file.name);
            this.$delete(this.files_obj, key);
        },
        state(name) {
            return name.length >= 4;
        },
        invalidFeedback(name) {
            if (name.length > 0) {
                return "Enter at least 4 characters.";
            }
            return "Please enter something.";
        },
    },
    // components: {
    //     FileUploadDndArea,
    // },
};
</script>
