<template>
    <b-container fluid class="mt-2">
        <b-row>
            <b-col cols="8">
                <Video :Exercise="this.exercise"></Video>
                <b-button
                    @click="saveCurrentExercise"
                    variant="primary"
                    class="mt-3"
                >
                    <b-icon icon="file-check" class="mr-1"></b-icon>Save
                </b-button>
            </b-col>
            <b-col>
                <RepsList></RepsList>
            </b-col>
        </b-row>
        <b-row></b-row>
    </b-container>
</template>

<script>
import Video from "../components/Video";
import RepsList from "../components/RepsList";

export default {
    data() {
        return {
            exercise: { name: "TESTE ME OUT" },
        };
    },
    props: ["targetExercise"],
    watch: {
        $route(to, from) {
            console.log("To: " + to, " ------ From: ", +from);
            // react to route changes...
            // TODO: Store
            // CurrentExerciseStore.methods.updateCurrentExerciseFromAPI(this.$route.params.id)
            // this.$store.dispatch("updateCurrentExerciseFromAPI", this.$route.params.id);
        },
    },
    methods: {
        saveCurrentExercise() {
            // TODO: Store
            // CurrentExerciseStore.methods.commitCurrentExercise()
            this.$store.dispatch("commitCurrentExerciseToAPI");
        },
    },
    components: {
        Video,
        RepsList,
    },
    mounted() {
        console.log("ExerciseDetails Mounted()");
        // TODO: Store
        // CurrentExerciseStore.methods.updateCurrentExerciseFromAPI(this.$route.params.id)
        this.$store.dispatch(
            "updateCurrentExerciseFromAPI",
            this.$route.params.id
        );
    },
    created() {
        // console.log("ExerciseDetails Created()")
        // CurrentExerciseStore.methods.updateCurrentExerciseFromAPI(this.$route.params.id)
    },
};
</script>
