<template>
    <b-container class="mt-2">
        <b-row>
            <b-col cols="10" align-self="start">
                <b-form>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text" id="btnGroupAddon">
                                Filter by name
                            </div>
                        </div>
                        <input
                            type="text"
                            class="form-control"
                            placeholder="Exercise name"
                            aria-label="Input group example"
                            aria-describedby="btnGroupAddon"
                            v-model="exerciseNameFilter"
                        />
                        <div class="input-group-append">
                            <b-button
                                type="submit"
                                v-on:click.prevent="searchExercisesList()"
                                variant="primary"
                                >Search</b-button
                            >
                        </div>
                    </div>
                </b-form>
            </b-col>
            <b-col align-self="end">
                <b-button-group>
                    <b-button
                        @click="goToPreviousPage()"
                        :disabled="!Boolean(previousPageUrl)"
                        >Previous</b-button
                    >
                    <b-button
                        @click="goToNextPage()"
                        :disabled="!Boolean(nextPageUrl)"
                        >Next</b-button
                    >
                </b-button-group>
            </b-col>
        </b-row>
        <b-row>
            <b-col
                class="mt-2"
                sm="6"
                md="4"
                lg="3"
                v-for="exercise in exerciseList"
                :key="exercise.id"
            >
                <ExerciseCard
                    :exercise="exercise"
                    :pose_servers_config="pose_servers_config"
                    @delete="onExerciseDelete"
                ></ExerciseCard>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
import { HTTP } from "../http-common";
import _ from "lodash";
import { API_BASE_URL } from "../config";
import ExerciseCard from "../components/ExerciseCard";

export default {
    components: {
        ExerciseCard,
    },
    data() {
        return {
            exerciseList: null,
            exerciseNameFilter: "",
            nextPageUrl: null,
            previousPageUrl: null,
            currentPageUrl: "exercises/",
            pose_servers_config: [],
        };
    },
    mounted() {
        console.log("Mounted");
        this.fetchExerciseList(API_BASE_URL + "exercises/");
        this.fetchPoseServersConfig();
    },
    methods: {
        async fetchPoseServersConfig() {
            var response = await HTTP.get("pose_server_config/");
            console.log(response);
            if (response.status == 200) {
                this.pose_servers_config = response.data.results;
            }
        },
        onExerciseDelete(id) {
            var delExercise = null;
            for (var i = 0; i < this.exerciseList.length; i++) {
                if (id == this.exerciseList[i].id) {
                    delExercise = i;
                }
            }

            if (delExercise != null) {
                console.log(delExercise);
                this.exerciseList.splice(delExercise, 1);
            }
        },

        goToNextPage() {
            this.fetchExerciseList(this.nextPageUrl);
        },

        goToPreviousPage() {
            this.fetchExerciseList(this.previousPageUrl);
        },

        fetchExerciseList(url) {
            HTTP.get(url).then((response) => {
                console.log("GOT ");
                console.log(response.data);

                if (response.data.next) {
                    this.nextPageUrl = response.data.next.replace(
                        API_BASE_URL,
                        ""
                    );
                } else {
                    this.nextPageUrl = null;
                }

                if (response.data.previous) {
                    this.previousPageUrl = response.data.previous.replace(
                        API_BASE_URL,
                        ""
                    );
                } else {
                    this.previousPageUrl = null;
                }

                console.log("NEXT: " + this.nextPageUrl);
                console.log("PREVIOUS: " + this.previousPageUrl);
                this.exerciseList = response.data.results;
            });
        },

        searchExercisesList: _.debounce(
            function() {
                var url = API_BASE_URL + "exercises/";

                if (this.exerciseNameFilter) {
                    url += "?name=" + this.exerciseNameFilter;
                }

                this.fetchExerciseList(url);
            },
            500,
            {
                leading: true,
                trailing: false,
            }
        ),
    },
};
</script>

<style scoped>
a {
    color: #000;
}

a:hover {
    text-decoration: none;
}
</style>
