<template>
    <b-container>
        <b-table :busy="isBusy" :fields="fields" :items="items">
            <template #cell(created_at)="data">
                {{ data.item.created_at | moment("from") }}
            </template>
            <!-- <template #cell(updated_at)="data">
                {{ data.item.updated_at | moment("from") }}
            </template> -->
            <template #cell(name)="data">
                <b-form-input v-model="data.item.name"></b-form-input>
            </template>
            <template #cell(description)="data">
                <b-form-input v-model="data.item.description"></b-form-input>
            </template>
            <template #cell(server)="data">
                <b-form-input v-model="data.item.server"></b-form-input>
            </template>
            <template #cell(actions)="data">
                <b-button variant="danger" @click="deleteConfig(data.index)"
                    ><b-icon icon="trash"></b-icon
                ></b-button>
            </template>
        </b-table>
        <b-button-group>
            <b-button variant="success" @click="saveData()"
                ><b-icon icon="check"></b-icon>Save</b-button
            >
            <b-button variant="outline-success" @click="addConfigRow()"
                ><b-icon icon="plus"></b-icon>Add Server</b-button
            >
        </b-button-group>
    </b-container>
</template>
<script>
import { HTTP } from "../http-common";

export default {
    data() {
        return {
            items: [],
            fields: [
                { key: "id", label: "Id" },
                { key: "created_at", label: "Created at" },
                // { key: "updated_at", label: "Last updated" },
                { key: "name", label: "Name" },
                { key: "description", label: "Description" },
                { key: "server", label: "Server URL" },
                "actions",
            ],
            isBusy: false,
        };
    },
    async mounted() {
        await this.refreshData();
    },

    methods: {
        async refreshData() {
            this.isBusy = true;
            var response = await HTTP.get("pose_server_config/");
            if (response.status == 200) {
                this.items = response.data.results;
            } else {
                console.log("Failed to communicate with back-end!");
            }
            this.isBusy = false;
        },

        addConfigRow() {
            if ("id" in this.items[this.items.length - 1]) {
                this.items.push({
                    name: "",
                    description: "",
                    server: "",
                });
            }
        },

        deleteConfig(rowIndex) {
            this.items.splice(rowIndex, 1);
        },

        saveData() {
            console.log(JSON.stringify(this.items));
            for (var i = 0; i < this.items.length; i++) {
                var item = this.items[i];
                var form = new FormData();
                console.log("ITERATION " + i);
                console.log(item);
                var response;
                if ("id" in item) {
                    Object.keys(item).forEach((key) => {
                        form.append(key, item[key]);
                    });
                    response = HTTP.patch(
                        "pose_server_config/" + item.id + "/",
                        form
                    );
                    if (response.status != 200) {
                        console.log("Invalid data for index " + item.id);
                    }
                } else {
                    Object.keys(item).forEach((key) => {
                        form.append(key, item[key]);
                    });
                    response = HTTP.post("pose_server_config/", form);
                    if (response.status != 200) {
                        console.log("Invalid data for index " + item.id);
                    }
                }
            }
        },
    },
};
</script>
