<template>
    <b-container fluid>
        <b-card header="Attributes">
            <b-card-body v-if="attributes == null || attributes.length == 0">
                <b-card-text>No attributes found!</b-card-text>
            </b-card-body>
            <b-card-body v-else>
                <b-button-group>
                    <b-button
                        :key="attr.id"
                        v-for="attr in attributes"
                        variant="primary"
                    >
                        {{ attr.name }}</b-button
                    >
                </b-button-group>
            </b-card-body>
        </b-card>
    </b-container>
</template>
<script>
import { HTTP } from "../http-common";

export default {
    data() {
        return {
            attributes: [],
        };
    },

    async mounted() {
        var response = await HTTP.get("attributes/");

        if (response.status == 200) {
            this.attributes = response.data.results;
        } else {
            console.log("Failed to communicate with back-end server!");
        }
    },
};
</script>
