<template>
    <b-overlay :show="show" rounded="sm">
        <b-card
            no-body
            img-top
            :img-src="exercise.videos[0].thumbnail"
            class="shadow"
        >
            <router-link :to="'/exercise/' + exercise.id">
                <b-modal :id="modalName" hide-footer>
                    <template v-slot:modal-title
                        >{{ exercise.name }} JSON</template
                    >
                    <div class="d-block text-center">
                        <b-form-textarea
                            rows="10"
                            v-model="prettyJson"
                        ></b-form-textarea>
                    </div>
                    <b-button
                        class="mt-3"
                        block
                        @click="$bvModal.hide(modalName)"
                        >Close Me</b-button
                    >
                </b-modal>

                <!-- Download modal area -->
                <b-modal :id="downloadModalName" hide-footer>
                    <template v-slot:modal-title
                        >{{ exercise.name }} Pose Data</template
                    >
                    <b-list-group
                        class="d-block text-center"
                        v-for="pose in this.exercise.videos[0].poses"
                        :key="pose.id"
                    >
                        <b-list-group-item
                            button
                            variant="primary"
                            @click.prevent="
                                downloadPoseDataFile(pose, exercise.name)
                            "
                            >Download
                            {{ algoShortnameToLongname(pose.server_config) }}
                            data</b-list-group-item
                        >
                    </b-list-group>
                </b-modal>

                <b-card-body>
                    <h5>{{ exercise.name }}</h5>
                    <b-card-sub-title class="my-1">
                        <b-badge class="mr-2">{{
                            exercise.repetitions.length
                        }}</b-badge
                        >repetitions marked
                    </b-card-sub-title>
                    <!-- <b-card-text>
                Some quick example text to build on the card title and make up the bulk of the card's
                content.
          </b-card-text>-->
                    <b-card-text class="small text-muted mt-4"
                        >Created
                        {{ exercise.created_at | moment("from") }}</b-card-text
                    >
                </b-card-body>
            </router-link>

            <b-card-footer>
                <b-button-group>
                    <b-button
                        @click="showDeleteConfirmationOverlay()"
                        size="sm"
                        variant="danger"
                    >
                        <b-icon icon="trash"></b-icon>
                    </b-button>
                    <b-button
                        v-b-tooltip.hover
                        title="Show as JSON"
                        @click="showJsonModal()"
                        size="sm"
                        variant="outline-primary"
                    >
                        <b-icon icon="arrows-fullscreen"></b-icon>
                        Exercise data
                    </b-button>
                    <b-button
                        v-b-tooltip.hover
                        title="Download pose data"
                        @click="showDownloadPoseEstimation()"
                        size="sm"
                        variant="outline-primary"
                    >
                        <b-icon icon="box-arrow-down"></b-icon>
                        Pose data
                    </b-button>
                </b-button-group>
            </b-card-footer>
        </b-card>
        <template v-slot:overlay>
            <div class="text-center">
                <b-icon
                    icon="stopwatch"
                    font-scale="3"
                    animation="cylon"
                ></b-icon>
                <p id="cancel-label">Are you sure you want to delete this?</p>
                <b-button
                    ref="cancel"
                    variant="outline-danger"
                    size="sm"
                    aria-describedby="cancel-label"
                    @click="deleteExercise()"
                    >Yes</b-button
                >
                <b-button
                    ref="cancel"
                    variant="outline-success"
                    size="sm"
                    class="mt-2"
                    aria-describedby="cancel-label"
                    @click="show = false"
                    >No, go back!</b-button
                >
            </div>
        </template>
    </b-overlay>
</template>

<script>
import { HTTP } from "../http-common";
import { API_BASE_URL } from "../config";
import EventBus from "../eventBus";

export default {
    props: ["exercise", "pose_servers_config"],
    data() {
        return {
            show: false,
            modalName: "show-json-" + this.exercise.id,
            prettyJson: JSON.stringify(this.exercise),
            downloadModalName: "show-download-" + this.exercise.id,
        };
    },
    methods: {
        downloadPoseDataFile(pose_data, exercise_name) {
            console.log("Name: ", exercise_name);

            HTTP.get(pose_data.pose_output, { responseType: "blob" })
                .then((response) => {
                    console.log("Downloading ", pose_data.pose_output);
                    console.log("Name: ", exercise_name);
                    const blob = new Blob([response.data], {
                        type: "application/x-zip",
                    });
                    const link = document.createElement("a");
                    link.href = URL.createObjectURL(blob);
                    link.setAttribute("download", exercise_name + ".zip");
                    link.click();
                    URL.revokeObjectURL(link.href);
                })
                .catch(console.error);
        },

        showJsonModal() {
            console.log("showJsonModal: ", this.modalName);
            this.$bvModal.show(this.modalName);
        },

        showDownloadPoseEstimation() {
            console.log("showDownloadModal:", this.downloadModalName);
            console.log(this.pose_servers_config);
            this.$bvModal.show(this.downloadModalName);
        },

        showDeleteConfirmationOverlay() {
            this.show = true;
        },

        deleteExercise() {
            HTTP.delete(
                API_BASE_URL + "exercises/" + this.exercise.id + "/"
            ).then((response) => {
                if (response.status == 204) {
                    EventBus.$emit(
                        "onPushAlert",
                        "Deleted exercise: " + this.exercise.name
                    );
                    this.$emit("delete", this.exercise.id);
                }
            });
        },

        algoShortnameToLongname(id) {
            console.log(id);
            var target = this.pose_servers_config.find((x) => x.id == id);
            return target.name;
        },
    },
};
</script>
