<template>
    <div>
        <b-card
            fluid
        >
            <b-container>
                <b-row>
                    <b-form-file
                        multiple
                        v-model="input_files"
                        placeholder="Choose a file or drop it here..."
                        drop-placeholder="Drop file here..."
                    ></b-form-file>
                </b-row>
                <b-row>
                    <b-col
                        class="mt-1"
                        cols="4"
                        v-for="(file, index) in files"
                        :key="index"
                    >
                        <b-card
                            bg-variant="light"
                            header-bg-variant="light"
                            class="text-center"
                        >
                            <b-badge class="mb-1" variant="dark">{{
                                file.name
                            }}</b-badge>
                            <b-form-group
                                description="What is the perspective from which this video was taken? Left? Right?"
                                valid-feedback="Thank you!"
                                :invalid-feedback="
                                    invalidFeedback(file.perspective)
                                "
                                :state="state(file.perspective)"
                            >
                                <b-form-input
                                    placeholder="Enter the perspective description here"
                                    v-model="file.perspective"
                                ></b-form-input
                            ></b-form-group>
                            <b-button
                                v-on:click="removeFile(file)"
                                variant="danger"
                                >Remove</b-button
                            ></b-card
                        >
                    </b-col>
                </b-row>
            </b-container>
        </b-card>
    </div>
</template>

<script>
export default {
    data() {
        return {
            input_files: [],
            file_objs: []
            // files: [
            //     { name: "file1.mp4", perspective: "", file: null },
            //     { name: "file2.mp4", perspective: "", file: null },
            //     { name: "file3.mp4", perspective: "", file: null },
                // { name: "file4.mp4", perspective: "" },
            // ],
        };
    },
    computed: {
        files() {
            // console.log("Computed, START => Input files:");
            // console.log(this.input_files.length);

            // console.log("Computed, START => File objects:");
            // console.log(this.file_objs.length);

            var f = [] ;
            this.input_files.forEach(element => {
                // var canPush = true;
                // this.file_objs.forEach(j => {
                    // if (element.name == j.name)
                        // canPush = false;
                // });

                // if (canPush) {
                    // console.log("ADDED: " + element.name);
                    f.push({ name: element.name, perspective_description: "", file: element})

                    // }
            });

            // console.log("Computed, END => File objs:");
            // console.log(this.file_objs.length);
            return f;
        }
    },
    methods: {
        removeFile(file) {
            alert("Asdadasds")
            console.log("Remove: " + file.name);

            for (var i=0; i<this.input_files.length; i++) {
                var target = this.input_files[i];
                if (target.name == file.name) {
                    this.input_files.splice(this.input_files.indexOf(target), 1);
                    // this.file_objs.splice(i, 1);
                    // console.log(this.file_objs[i].file);
                    // console.log(this.input_files);
                    // this.input_files = [];
                    console.log("New file objs:");
                    this.file_objs.forEach(element => console.log(element.name));

                    console.log("New INPUT files:");
                    this.input_files.forEach(element => console.log(element.name));
                    break;
                }
            }
        },
        state(name) {
            return name.length >= 4;
        },
        invalidFeedback(name) {
            if (name.length > 0) {
                return "Enter at least 4 characters.";
            }
            return "Please enter something.";
        },

        onDrop(event) {
            console.log(event);
        },
    },
};
</script>
