<template>
    <b-navbar class="shadow">
        <b-navbar-nav>
            <b-button size="sm" to="/exercise/new" variant="primary"
                >New execise!</b-button
            >
            <b-button
                class="ml-2"
                size="sm"
                to="/exercise/all"
                variant="secondary"
                >Search</b-button
            >
            <b-button-group
                ><b-button
                    class="ml-2"
                    size="sm"
                    to="/poseserverconfig/"
                    variant="outline-info"
                    >Pose Estimation Servers configuration</b-button
                >
                <b-button to="/attributesconfig/" variant="outline-info">
                    Attributes configuration
                </b-button>
            </b-button-group>
        </b-navbar-nav>
    </b-navbar>
</template>
