<template>
    <b-container>
        <b-card no-body header-tag="header">
            <template #header>
                <b-row>
                    <b-col class="mt-1" cols="3">Repetitions</b-col>
                    <b-col>
                        <b-button-group>
                            <b-button
                                size="sm"
                                :key="attr.id"
                                v-for="attr in attributes"
                                :variant="
                                    isAttrInCurrent(attr.id)
                                        ? 'danger'
                                        : 'primary'
                                "
                                @click="toggleAttribute(attr.id)"
                            >
                                {{ attr.name }}</b-button
                            >
                        </b-button-group>
                    </b-col>
                </b-row>
            </template>
            <b-card-body
                v-if="
                    formattedRepsList === null || formattedRepsList.length === 0
                "
            >
                <b-card-text>No repetitions to show!</b-card-text>
            </b-card-body>
            <b-list-group flush v-else>
                <div class="overflow-auto" style="max-height: 85vh;">
                    <b-list-group-item
                        sm
                        @click="onClickRepItem(rep.idx)"
                        v-for="(rep, index) in formattedRepsList"
                        :key="rep.idx"
                        href="#"
                    >
                        <b-row>
                            <b-col cols="1">
                                <b-badge
                                    :variant="
                                        rep.api_id != null ? 'success' : 'dark'
                                    "
                                    class="mr-2"
                                    >{{ index + 1 }}</b-badge
                                >
                            </b-col>
                            <b-col cols="9">
                                <b-row>
                                    <b-col cols="6">
                                        <b-form-input
                                            @blur="
                                                onStartTimeInputBlur(
                                                    $event.target.value,
                                                    'start',
                                                    rep.idx
                                                )
                                            "
                                            :value="rep.startTime"
                                        ></b-form-input>
                                    </b-col>
                                    <b-col cols="6">
                                        <b-form-input
                                            @blur="
                                                onStartTimeInputBlur(
                                                    $event.target.value,
                                                    'end',
                                                    rep.idx
                                                )
                                            "
                                            :value="rep.endTime"
                                        ></b-form-input>
                                    </b-col>
                                </b-row>
                            </b-col>
                            <b-col cols="1">
                                <b-button
                                    size="sm"
                                    @click="
                                        onRepetitionDelete(rep.idx, rep.api_id)
                                    "
                                    variant="danger"
                                >
                                    <b-icon
                                        icon="trash"
                                        style="width: 16px; height: 16px;"
                                    ></b-icon>
                                </b-button>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col>
                                <b-input-group
                                    class="mt-2"
                                    :key="attr.id"
                                    v-for="(attr, idx) in rep.attr_values"
                                >
                                    <b-input-group-prepend>
                                        <b-button>{{
                                            attrIdToName(attr.attribute)
                                        }}</b-button>
                                    </b-input-group-prepend>
                                    <b-form-input
                                        @blur="
                                            onAttrValueBlur(
                                                $event.target.value,
                                                rep.idx,
                                                idx
                                            )
                                        "
                                        :value="attr.value"
                                    ></b-form-input>
                                </b-input-group>
                            </b-col>
                        </b-row>
                    </b-list-group-item>
                </div>
            </b-list-group>
        </b-card>
    </b-container>
</template>

<script>
import { HTTP } from "../http-common";
export default {
    // props: ["repetitionsList"],
    data() {
        return {
            attributes: [],
            current_attrs: [],
        };
    },

    async mounted() {
        var response = await HTTP.get("attributes/");

        if (response.status == 200) {
            this.attributes = response.data.results;
        } else {
            console.log("Failed to communicate with back-end server!");
        }
    },

    computed: {
        formattedRepsList() {
            var formattedList = [];
            this.$store.state.exercise.repetitions.forEach((x) => {
                formattedList.push({
                    idx: x.internal_index,
                    api_id: x.id,
                    startTime: x.start_timestamp,
                    endTime: x.end_timestamp,
                    attr_values: x.attr_values,
                });
            });

            return formattedList;
        },
    },

    watch: {
        formattedRepsList: {
            deep: true,
            handler: function(newVal) {
                this.current_attrs = [];

                if (newVal.length > 0) {
                    newVal[0].attr_values.forEach((x) => {
                        if (this.current_attrs.indexOf(x.attribute) == -1) {
                            this.current_attrs.push(x.attribute);
                        }
                    });
                }
            },
        },
    },

    methods: {
        isAttrInCurrent(id) {
            return this.current_attrs.find((x) => x == id) != undefined;
        },

        attrIdToName(id) {
            return this.attributes.find((x) => x.id == id).name;
        },

        toggleAttribute(id) {
            if (this.isAttrInCurrent(id)) {
                this.$store.commit("removeAttribute", { id: id });
            } else {
                this.$store.commit("addAttribute", { id: id });
            }
        },

        onRepetitionDelete(index, apiID) {
            this.$store.commit("deleteRepetition", {
                index: index,
                apiID: apiID,
            });
        },

        onStartTimeInputBlur(event, timeIndex, itemIndex) {
            console.log(event, timeIndex, itemIndex);
            if (timeIndex == "start") {
                this.$store.commit("setStartTime", {
                    index: itemIndex,
                    startTime: event,
                });
            } else if (timeIndex == "end") {
                this.$store.commit("setEndTime", {
                    index: itemIndex,
                    endTime: event,
                });
            }
        },

        onAttrValueBlur(event, repIndex, attrIdx) {
            console.log("onAttrValueBlur", event, repIndex, attrIdx);
            this.$store.commit("setAttrValue", {
                repIndex: repIndex,
                attrIndex: attrIdx,
                value: event,
            });
        },

        onClickRepItem(repIdx) {
            console.log("[onClickRepItem]Rep idx:" + repIdx);
        },
    },
};
</script>
