<template>
  <div>
    <b-form-input style="width: 80%;" class="my-3 mx-auto" size="md" placeholder="Search..."></b-form-input>
    <hr />
    <b-nav vertical >
      <b-nav-item to="/exercise/new">
        <b-icon icon="plus-square" class="mr-2"></b-icon>New exercise
      </b-nav-item>
      <b-nav-item to="/exercise/all" variant="danger">
        <b-icon icon="plus-square" class="mr-2"></b-icon>Search exercise
      </b-nav-item>
    </b-nav>
  </div>
</template>