<template>
    <div>
        <b-card :header="exerciseName">
            <video-player
                class="vjs-default-skin vjs-big-play-centered"
                ref="videoPlayer"
                :options="playerOptions"
                @ready="playerIsReady"
            ></video-player>
            <b-button class="mt-2" v-b-toggle.collapse-1 variant="secondary"
                >Show video settings</b-button
            >
            <b-button
                v-b-tooltip.hover.bottom="'You can also press Ctrl+m!'"
                v-shortkey="['ctrl', 'm']"
                @shortkey="clickedStartStopRep()"
                @click="clickedStartStopRep"
                class="mt-2 ml-3"
                variant="primary"
            >
                <b-icon icon="flag-fill" class="mr-1"></b-icon>
                {{ startStopRepBtnText }}
            </b-button>

            <b-collapse id="collapse-1" class="mt-2">
                <b-card>
                    <b-form>
                        <b-row>
                            <b-col cols="6">
                                <b-form-file
                                    v-model="videoFileUpload"
                                    :state="Boolean(videoFileUpload)"
                                    placeholder="Choose or drop file."
                                    drop-placeholder="Drop file here..."
                                ></b-form-file>
                            </b-col>
                            <b-col cols="6">
                                <b-input-group>
                                    <b-input
                                        id="inline-form-input-username"
                                        v-model="exerciseName"
                                        placeholder="Exercise name"
                                    ></b-input>
                                </b-input-group>
                            </b-col>
                        </b-row>
                    </b-form>
                </b-card>
            </b-collapse>
        </b-card>
        <script
            type="application/javascript"
            src="//cdn.sc.gl/videojs-hotkeys/0.2/videojs.hotkeys.min.js"
        ></script>
    </div>
</template>

<script>
// require("cdn.sc.gl/videojs-hotkeys/0.2/videojs.hotkeys.min.js")

import "video.js/dist/video-js.css";
import { videoPlayer } from "vue-video-player";
import "videojs-hotkeys";
import { mapGetters } from "vuex";

export default {
    components: {
        videoPlayer,
    },
    data() {
        return {
            playerOptions: {
                height: 360,
                // videojs options
                muted: true,
                // language: "en",
                aspectRatio: "16:9",
                playbackRates: [0.7, 1.0, 1.5, 2.0],

                fluid: true,
            },
            videoSrc: "",
            currentRepState: "stopped",
            startStopRepBtnText: "Mark beginning of rep",
            repStartTime: -1,
        };
    },
    mounted() {
        console.log("SUP DUDE");
        console.log(this.videoSource);
        this.changeVideo(this.videoSource);
    },
    computed: {
        player() {
            return this.$refs.videoPlayer.player;
        },
        ...mapGetters(["exerciseName", "videoSource", "videoFileUpload"]),
        // exerciseName: {
        //   get() {
        //     return this.$store.state.name;
        //     // return CurrentExerciseStore.data.name;
        //   },

        //   set(name) {
        //     this.$store.c
        //     CurrentExerciseStore.methods.setName(name);
        //   }
        // },

        // videoSource() {
        //   // console.log("Video, prop videoSource called!")
        //   return CurrentExerciseStore.data.videoFileUrl;
        // },

        // videoFileUpload: {
        //   get() {
        //     return CurrentExerciseStore.data.videoFileUpload;
        //   },

        //   set(newVal) {
        //     CurrentExerciseStore.data.videoFileUpload = newVal;
        //   }
        // }
    },
    watch: {
        videoSource: function(newValue) {
            // console.log("Video source changed: " + newValue);
            this.changeVideo(newValue);
        },
    },
    methods: {
        // listen event
        onPlayerPlay(player) {
            console.log("player play!", player);
        },

        onPlayerPause(player) {
            console.log("player pause!", player);
        },

        playerStateChanged(playerCurrentState) {
            console.log("player current update state", playerCurrentState);
        },

        onPlayerLoadeddata() {
            console.log("Loaded data!");
        },

        playerIsReady(player) {
            player.hotkeys({
                volumeStep: 0.1,
                seekStep: 1,
                enableModifiersForNumbers: false,
                fullscreenKey: function(event, player) {
                    console.log(player);
                    // override fullscreen to trigger when pressing the F key or Ctrl+Enter
                    return (
                        event.which === 70 ||
                        (event.ctrlKey && event.which === 13)
                    );
                },
            });
        },

        changeVideo(url) {
            console.log("changeVideo: " + url);
            this.player.src(url + "#.mp4");
        },

        clickedStartStopRep() {
            if (this.repStartTime < 0) {
                // this.currentRepState = "running"
                this.startStopRepBtnText = "Mark End of rep";
                this.repStartTime = this.player.currentTime();
            } else if (this.repStartTime >= 0) {
                this.currentRepState = "stopped";
                this.startStopRepBtnText = "Mark Beginning of rep";

                this.$store.commit("addRepetition", {
                    startTime: Math.floor(this.repStartTime),
                    endTime: Math.floor(this.player.currentTime()),
                });
                this.repStartTime = -1;
            }
        },
    },
};
</script>

<style scoped></style>
