<template>
    <div>
        <Navbar></Navbar>

        <div
            id="alerts"
            style="position: absolute; right: 0; bottom:0; z-index:999;"
        >
            <b-alert
                :show="10"
                dismissible
                :variant="alert.type"
                v-for="alert in alerts"
                :key="alert.id"
                >{{ alert.message }}</b-alert
            >
        </div>
        <b-container fluid style="padding: 0 !important;">
            <b-row no-gutters>
                <!-- <b-col cols="2" style="min-height: 100vh;">
          <VerticalNav></VerticalNav>
        </b-col>-->
                <b-col>
                    <router-view></router-view>
                </b-col>
            </b-row>
        </b-container>
    </div>
</template>

<script>
// import CurrentExerciseStore from "./stores/CurrentExerciseStore";
// import VerticalNav from "./components/VerticalNav";
import EventBus from "./eventBus";
import Navbar from "./components/Navbar";

export default {
    name: "App",
    data() {
        return {
            // currentExerciseStore: CurrentExerciseStore.data,
            alerts: [
                // {
                //   message: "This is the message of an alert",
                //   type: primary/success/secondary/danger/etc
                // }
            ],
        };
    },
    components: {
        Navbar,
        // VerticalNav
    },
    mounted() {
        EventBus.$on("onPushAlert", this.pushAlert);
    },
    methods: {
        pushAlert(content, type) {
            console.log("ERRORS:");
            console.log(content);

            if (type == null) {
                type = "danger";
            }

            var message = "";

            if (typeof content === "string") {
                message = content;
            } else {
                // for (var [key, value] of Object.entries(content)) {
                //   message += key + ": " + value.join("\n");
                // }
                // var obj = JSON.parse(content);
                message +=
                    "Actual response from server: " + JSON.stringify(content);
            }

            // alerts array should probaby have a limit of errors or it will indefinitely push items into it
            this.alerts.push({ message: message, type: type });
        },
    },
};
</script>

<style>
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}
</style>
